{% load static %}
{#博客页面全部#}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GARO ESTATE | single page</title>
    <meta name="description" content="GARO is a real-estate template">
    <meta name="author" content="Kimarotec">
    <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontello.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/icon-7-stroke/css/helper.css' %}">
    <link media="screen" href="{% static 'assets/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'touxiang/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/icheck.min_all.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/price-range.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.transitions.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
</head>
<body>

<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<!-- Body content -->


<div class="header-connect">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-8  col-xs-12">
                <div class="header-half header-call">
                    <p>
                        <span><i class="pe-7s-call"></i> +1 234 567 7890</span>
                        <span><i class="pe-7s-mail"></i> your@company.com</span>
                    </p>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-5  col-sm-3 col-sm-offset-1  col-xs-12">
                <div class="header-half header-social">
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-vine"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End top header -->

<nav class="navbar navbar-default ">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="{% static 'assets/img/logo.png' %}" alt=""></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse yamm" id="navigation">
            <div class="button navbar-right">
                {% if 'username'  in session %}
                <div class="button navbar-right">
                    <a href='/user/user_profile/' data-wow-delay="0.48s"
                       class="navbar-btn nav-button wow bounceInRight login">个人设置</a>
                    <a href='/admin/login/' data-wow-delay="0.48s"
                       class="navbar-btn nav-button wow bounceInRight login">管理中心</a><br>
                    {% if  userr.type == 0 %}
                    <a href='/user/user_profile/' data-wow-delay="0.48s"
                       class="navbar-btn nav-button wow bounceInRight login">欢迎:&nbsp;&nbsp;{{ username }} {普通用户}</a>
                    {% else %}
                     <a href='/user/user_profile/' data-wow-delay="0.48s"
                       class="navbar-btn nav-button wow bounceInRight login">欢迎:&nbsp;&nbsp;{{ username }} {管理员}</a>
                     {% endif %}
                    <a href='{%  url 'logout' %}' data-wow-delay="0.48s"
                       class="navbar-btn nav-button wow bounceInRight login">退出登录</a>
                </div>
            {% else %}
                <div class="button navbar-right">
                <a href="/login/" class="navbar-btn nav-button wow bounceInRight login"
                        data-wow-delay="0.45s">登录
                </a>
                <a href="/register/" class="navbar-btn nav-button wow bounceInRight login"
                        data-wow-delay="0.48s">注册
                </a>
            </div>
            {% endif %}
            </div>
            <ul class="main-nav nav navbar-nav navbar-right">
                <li class="dropdown ymm-sw " data-wow-delay="0.1s">
                    <a href="/" class="dropdown-toggle active">首页</a>
                <li class="wow fadeInDown" data-wow-delay="0.3s"><a class="" href="/properties/properties3/">房源</a></li>
                <li class="dropdown yamm-fw" data-wow-delay="0.4s">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">推荐
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">

                                    <div class="col-sm-3">
                                        <h5>网页和博客</h5>
                                        <ul>
                                            <li><a href="/blog/blog_post_full/">博客 (全)</a></li>
                                            <li><a href="/blog/blog_post_right/">博客 (右)</a></li>
                                            <li><a href="/blog/blog_post_left/">博客 (左)</a></li>
                                            <li><a href="/faq/">FAQ 页面</a></li>

                                        </ul>
                                    </div>
                                    <div class="col-sm-3">
                                        <h5>财产页面</h5>
                                                <ul>
                                                    <li><a href="/property/">财产页面风格 (1)</a> </li>
                                                    <li><a href="/property/property2/">财产页面风格 (2)</a> </li>
                                                    <li><a href="/property/property3/">财产页面风格 (3)</a> </li>
                                                </ul>

                                                <h5>内容列表</h5>
                                                <ul>
                                                    <li><a href="/properties/">内容列表样式 (1)</a> </li>
                                                    <li><a href="/properties/properties2">内容列表样式 (2)</a> </li>
                                                    <li><a href="/properties/properties3">内容列表样式 (3)</a> </li>
                                                </ul>
                                    </div>
                                    <div class="col-sm-3">
                                        <h5>用户账户</h5>
                                        <ul>
                                            <li><a href="/register/">新用户注册</a></li>
                                            <li><a href="/login/">用户登录</a></li>
                                            <li><a href="/change/">更改密码</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.yamm-content -->
                        </li>
                    </ul>
                </li>

                <li class="wow fadeInDown" data-wow-delay="0.5s"><a href="/contact/">联系我们</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- End of nav bar -->

<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">博客</h1>
            </div>
        </div>
    </div>
</div>
<!-- End page header -->

<div class="content-area blog-page padding-top-40" style="background-color: #FCFCFC; padding-bottom: 55px;">
    <div class="container">
        <div class="row">
            <div class="blog-lst col-md-12 pl0">
                <section id="id-100" class="post single">
                        <div id="post-content" class="post-body single wow fadeInLeft animated">

                        <h2>标题</h2>
                        <ol>
                            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                        </ol>

                        <h3>内容</h3>
                        <p>
                            <img src="{% static 'assets/img/blog2.jpg' %}" class="img-responsive"
                                 alt="Example blog post alt">
                        </p>
                        <p>
                            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                            egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec
                            eu libero sit amet quam egestas semper. Aenean
                            condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in
                            turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor
                            neque egestas augue, eu vulputate magna eros
                            eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis
                            luctus, metus
                        </p>

                    </div>

                </section>



                <section id="comments" class="comments wow fadeInRight animated">
                    <div class="row comment">
                        {% for blog in blog %}
                        <div class="col-sm-3 col-md-2 text-center-xs">
                            <p>
                                <img src="{{ blog.pphoto }}" class="img-responsive img-circle"
                                     alt="">
                            </p>
                        </div>
                        <div class="col-sm-9 col-md-10">
                            <h5 class="text-uppercase">{{ blog.name }}</h5>
                            <p class="posted"><i class="fa fa-clock-o"></i>{{ blog.ptime }}</p>
                            <p>{{ blog.pcontect }}</p>
                            </p>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- /.comment -->

                </section>
                <section id="comment-form" class="add-comments">
                    <h4 class="text-uppercase wow fadeInLeft animated">留下评论</h4>
                    <form method="post" action="{% url 'blog:blog_post_full' %}">
                        {% csrf_token %}
                        <div class="row wow fadeInLeft animated">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name_id">用户名：<span class="required">*</span>
                                    </label>
                                    <input class="form-control" id="name_id"  name="name_id" type="text" value="{{blog.name_id }}">
                                </div>
                            </div>
                        </div>
                        <div class="row wow fadeInLeft animated">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="pcontect">评论：<span class="required">*</span>
                                    </label>
                                    <input class="form-control" id="pcontect" name="pcontect" rows="4" value="{{ blog.pcontect }}">
                                </div>
                            </div>
                        </div>
                        <div class="row wow fadeInLeft animated">
                            <div class="col-sm-12 text-right">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-comment-o"></i> 发表评论</button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>

    </div>
</div>






















<!-- Footer area-->
<div class="footer-area">

    <div class=" footer">
        <div class="container">
            <div class="row">

                <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                    <div class="single-footer">
                        <h4>关于我们 </h4>
                        <div class="footer-title-line"></div>

                        <img src="{% static 'assets/img/footer-logo.png' %}" alt="" class="wow pulse"
                             data-wow-delay="1s">
                        <p>洛雷姆·伊普索姆·多洛尔（lorem ipsum dolor cum necessitibus su quisquam molesias）万德.布兰迪.</p>
                        <ul class="footer-adress">
                            <li><i class="pe-7s-map-marker strong"> </i> 9089 your adress her</li>
                            <li><i class="pe-7s-mail strong"> </i> email@yourcompany.com</li>
                            <li><i class="pe-7s-call strong"> </i> +1 908 967 5906</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                    <div class="single-footer">
                        <h4>快速链接</h4>
                                <div class="footer-title-line"></div>
                                <ul class="footer-menu">
                                    <li><a href="/properties/">内容 </a>  </li>
                                    <li><a href="#">服务</a>  </li>
                                    <li><a href="/submit/">提交财产</a></li>
                                    <li><a href="/contact/">联系我们</a></li>
                                    <li><a href="/faq/">常见问题解答</a>  </li>
                                    <li><a href="/faq/">条款 </a>  </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                            <div class="single-footer">
                                <h4>最新消息</h4>
                                <div class="footer-title-line"></div>
                                <ul class="footer-blog">
                                    <li>
                                        <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                            <a href="/blog/blog_post_full/">
                                                <img src="{% static 'assets/img/demo/small-proerty-2.jpg'%}">
                                            </a>
                                            <span class="blg-date">12-12-2016</span>

                                        </div>
                                        <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                                            <h6> <a href="/blog/blog_post_full/">添加新闻功能 </a></h6>
                                            <p style="line-height: 17px; padding: 8px 2px;">Lorem ipsum dolor sit amet, nulla ...</p>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                            <a href="/blog/blog_post_full/">
                                                <img src="{% static 'assets/img/demo/small-proerty-2.jpg'%}">
                                            </a>
                                            <span class="blg-date">12-12-2016</span>

                                        </div>
                                        <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                                            <h6> <a href="/blog/blog_post_full/">添加新闻功能 </a></h6>
                                            <p style="line-height: 17px; padding: 8px 2px;">Lorem ipsum dolor sit amet, nulla ...</p>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                                            <a href="/blog/blog_post_full/">
                                                <img src="{% static 'assets/img/demo/small-proerty-2.jpg'%}">
                                            </a>
                                            <span class="blg-date">12-12-2016</span>

                                        </div>
                                        <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                                            <h6> <a href="/blog_post_full/">添加新闻功能 </a></h6>
                                            <p style="line-height: 17px; padding: 8px 2px;">Lorem ipsum dolor sit amet, nulla ...</p>
                                        </div>
                                    </li>


                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                    <div class="single-footer news-letter">
                        <h4>保持联系</h4>
                        <div class="footer-title-line"></div>
                        <p>Lorem ipsum dolor sit amet, nulla suscipit similique quisquam molestias. Vel unde,
                            blanditiis.</p>

                        <form>
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="E-mail ... ">
                                <span class="input-group-btn">
                                            <button class="btn btn-primary subscribe" type="button"><i
                                                    class="pe-7s-paper-plane pe-2x"></i></button>
                                        </span>
                            </div>
                            <!-- /input-group -->
                        </form>

                        <div class="social pull-right">
                            <ul>
                                <li><a class="wow fadeInUp animated" href="https://twitter.com/kimarotec"><i
                                        class="fa fa-twitter"></i></a></li>
                                <li><a class="wow fadeInUp animated" href="https://www.facebook.com/kimarotec"
                                       data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="wow fadeInUp animated" href="https://plus.google.com/kimarotec"
                                       data-wow-delay="0.3s"><i class="fa fa-google-plus"></i></a></li>
                                <li><a class="wow fadeInUp animated" href="https://instagram.com/kimarotec"
                                       data-wow-delay="0.4s"><i class="fa fa-instagram"></i></a></li>
                                <li><a class="wow fadeInUp animated" href="https://instagram.com/kimarotec"
                                       data-wow-delay="0.6s"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-copy text-center">
        <div class="container">
            <div class="row">
                <div class="pull-left">
                    <span> (C) KimaroTheme, All rights reserved 2016  .More Templates <a href="http://www.cssmoban.com/"
                                                                                         target="_blank" title="模板之家">模板之家</a> - Collect from <a
                            href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></span></div>
                <div class="bottom-menu pull-right">
                    <ul>
                        <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.2s">Home</a></li>
                        <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.3s">Property</a></li>
                        <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.4s">Faq</a></li>
                        <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.6s">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>


<script src="{% static 'assets/js/modernizr-2.6.2.min.js' %}"></script>

<script src="{% static 'assets/js/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'touxiang/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap-hover-dropdown.js' %}"></script>

<script src="{% static 'assets/js/easypiechart.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.easypiechart.min.js' %}"></script>

<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/wow.js' %}"></script>

<script src="{% static 'assets/js/icheck.min.js' %}"></script>
<script src="{% static 'assets/js/price-range.js' %}"></script>

<script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>